// :root {
// 	--color_accent: #2947A9;
// }

// colors

$color_white: #fff;
$color_black: #000;

$color_text: #111;
$color_accent: #28bd25;
$color_gray: #777777;
$color_gray:#777777;
$color_gray_text: #555;

$bg_gray: #f5f5f5;

$color_hover: $color_accent;

$font_1: 'Roboto', sans-serif;
$font_2: 'Lora', serif;
$transition_dur: 0.3s;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */
