// :root {
// 	--color_accent: #2947A9;
// }

// colors

$color_white: #fff;
$color_black: #000;
$color_text: #111;
$color_text_1: #333;
$color_text_2: #E3E3E3;
$color_accent: #28bd25;
$color_gray: #777;
$color_gray_text: #555;
$color_gray_border: #9E9E9E;

$color_table_head: #CAF3D3;
$color_table_row: #F4F4F4;
$color_table_row2: #EDEDED;




$bg_gray: #f5f5f5;

$color_hover: $color_accent;

$font_1: 'Roboto', sans-serif;
$font_2: 'Lora', serif;
$transition_dur: 0.3s;

$zindex_header: 100;
$header_top_height: 4.6rem;
$header_bottom_height: 10.2rem;
$header_height: calc($header_top_height + $header_bottom_height);

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */
