@mixin square_dots_bef($width, $hight, $cordX, $cordY, $color: 'null', $position: 'right') {
	@if $color == $color_accent {
		content: '';
		position: absolute;
		height: $hight;
		width: $width;
		background-color: $color_accent;
		z-index: 0;
		bottom: $cordY;
	} @else {
		content: '';
		position: absolute;
		height: $width;
		width: $hight;
		background: url('../imgs/product/circle.svg') 0 0 / 1rem 1rem space;
		z-index: 0;
		bottom: $cordY;
	}

	@if $position == 'right' {
        right: $cordX;
    } @else if $position == 'left' {
        left: $cordX;
    }
}
@mixin square_dots_aft($width, $hight, $cordX, $cordY, $color: 'null', $position: 'left') {
	@if $color == $color_accent {
		content: '';
		position: absolute;
		height: $hight;
		width: $width;
		background-color: $color_accent;
		z-index: 0;
		right: $cordX;
		top: $cordY;
	} @else {
		content: '';
		position: absolute;
		height: $width;
		width: $hight;
		background: url('../imgs/product/circle.svg') 0 0 / 1rem 1rem space;
		z-index: 0;
		right: $cordX;
		top: $cordY;
	}

	@if $position == 'left' {
        left: $cordX;
    } @else if $position == 'right' {
        right: $cordX;
    }
}
