@include bp($point_4, min) {
	.reason_to_buy__title_in {
		padding-left: 16.3rem;
		margin-bottom: 7rem;
	}
}

@include bp($point_5) {
	.reason_to_buy__title_in {
		padding-left: 11.1rem;
	}
}

.reason_to_buy__title {
	margin-bottom: 3.6rem;
}

.reason_to_buy__title_descr {
	max-width: 110rem;
	font-size: 2rem;
	font-weight: 400;
	line-height: 3rem;
	text-align: left;
	color: $color_gray;
	margin-bottom: 5rem;
}