.contacts {
	display: flex;
	gap: 18rem;

	@include bp($point_3) {
		flex-direction: column;
		gap: 2rem;
	}

	@include bp($point_8) {
		flex-direction: column;
		gap: 1.5rem;
	}
}

.contacts_col {
	width: 50%;
	min-height: 87rem;

	@include bp($point_3) {
		width: 100%;
		min-height: auto;
	}
}

.contacts_map {
	width: 100%;
	height: 100%;

	@include bp($point_3) {
		width: 100%;
		height: 40rem;
	}
}

.contacts_map__iframe {
	height: 100%;
	width: 100%;
}

.contacts_cont {
	margin-top: 11.4rem;

	button {
		margin-top: 5.6rem;
	}

	@include bp($point_3) {
		margin-top: 2.5rem;
		padding: 2rem;
	}

	@include bp($point_8) {
		margin-top: 2rem;
	}
}

.contacts_cont__descr {
	width: 60rem;
	height: 6.7rem;
	margin-top: 3.9rem;

	font-family: $font_1;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 3.3rem;
	text-align: left;

	@include bp($point_3) {
		width: 100%;
		height: auto;
		font-size: 2rem;
		line-height: 2.8rem;
	}

	@include bp($point_8) {
		width: 100%;
		height: auto;
		font-size: 1.8rem;
		line-height: 2.6rem;
		margin-top: 3.5rem;
	}
}

.contacts_form {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
	margin-top: 5.6rem;

	@include bp($point_5) {
		margin-top: 4.5rem;
	}

	@include bp($point_8) {
		margin-top: 3rem;
	}

	label {
		font-family: $font_1;
		font-size: 2.8rem;
		font-weight: 400;
		line-height: 2.6rem;
		text-align: left;
		color: $color_gray;

		@include bp($point_3) {
			font-size: 2.4rem;
			line-height: 2.4rem;
		}

		@include bp($point_8) {
			font-size: 2rem;
			line-height: 2.2rem;
		}
	}

	span {
		color: $color_accent;
	}

}

.form__input {
	position: relative;
	display: flex;
	align-items: center;

	input {
		width: 60rem;
		height: 7.6rem;
		padding: 10px;
		border: 1px solid $color_gray_border;
		border-radius: 5px;
		padding-left: 7rem;

		@include bp($point_3) {
			width: 100%;
			padding-left: 6rem;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 17rem;
		top: 50%;
		transform: translateY(-42%);
		width: 1px;
		height: 18px;
		background-color: $color_accent;

		@include bp($point_3) {
			left: 15rem;
		}

		@include bp($point_8) {
			left: 13rem;
			height: 14px;
		}
	}
}

.form__input2 {
	display: flex;
	align-items: center;

	input {
		width: 60rem;
		height: 7.6rem;
		padding: 10px;
		border: 1px solid $color_gray_border;
		border-radius: 5px;
		padding-left: 7rem;

		@include bp($point_3) {
			width: 100%;
			padding-left: 6rem;
		}
	}
}

.form__input__text,
.form__input__text2 {
	font-family: $font_1;
	font-size: 2.8rem;
	font-weight: 400;
	line-height: 2.6rem;

	@include bp($point_3) {
		font-size: 2.4rem;
		line-height: 2.4rem;
	}

	@include bp($point_8) {
		font-size: 2rem;
		line-height: 2.2rem;
	}
}

.form__input__text::placeholder {
	color: $color_text;
}

.form__input--man {
	background: url(../imgs/transport_form/input_man.svg) no-repeat left 2.2rem center / 2.5rem 2.5rem;
}

.form__input--phone {
	background: url(../imgs/transport_form/input_phone.svg) no-repeat left 2.2rem center / 2.5rem 2.5rem;
}