.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $zindex_header;
	background-color: $color_white;
}

// header top

.header__top {
	position: relative;
	height: $header_top_height;
	display: flex;
	align-items: center;

	color: $color_white;
	transition: height $transition_dur ease-in-out;

	&::before {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: -1;
		transform: translateX(-50%);

		content: '';

		width: 100dvw;
		height: 100%;

		background-color: $color_accent;
	}

	.header.header--scroll & {
		height: 0;
	}
}

.header__phone_list {
	display: flex;
	align-items: center;
	column-gap: 2rem;
}

.header__phone_link {
	font-size: 2.2rem;
	font-weight: 700;
	color: inherit;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}
}

.header__phone_icon_w {
	height: 2rem;
	width: 2rem;
}

.header__phone_icon {
	@extend %contain_img;
}

.header__location {
	display: flex;
	align-items: center;
	column-gap: 1.4rem;
	font-size: 1.6rem;
}

.header__location_icon_w {
	width: 1.4rem;
	height: 2rem;
}

.header__location_icon {
	@extend %contain_img;
}

.header__location_w {
	margin-left: auto;
}

// header top ###

// header bottom

.header__bottom {
	height: $header_bottom_height;
	transition: height $transition_dur ease-in-out;
	
	.header.header--scroll & {
		height: 6rem;
	}
}

.header_nav {
	height: 100%;
	display: flex;


	@include bp($point_2, min) {
		justify-content: space-around;
	}


	@include bp($point_3) {
		justify-content: space-between;
	}




}

.header_nav__menu {
	display: flex;
	justify-content: space-between;
	height: 100%;
	




	@include bp($point_3) {
		display: flex;
		position: absolute;
		top: 6rem;
		right: -37.5rem;
		background-color: white;
		width: 37.5rem;
		height: calc(200vh - $header_bottom_height + $header_top_height);
		justify-content: flex-start;
		flex-direction: column;
		gap: 4rem;
		padding-top: 12rem;
		transition: all 0.3s ease-in-out;

		& .header_nav__in {
			display: flex;
			align-self: center;
			justify-content: center;
			flex-direction: column;
			gap: 4rem;


		}
	}


	&.open {
		display: flex;
		position: absolute;
		top: 6rem;
		right: 0;
		background-color: white;
		overflow: scroll;
		height: calc(200vh - $header_bottom_height + $header_top_height);
		justify-content: flex-start;
		flex-direction: column;
		gap: 4rem;
		padding-top: 12rem;


		@include bp($point_6, min) {
			width: 37.5rem;
		}


		@include bp($point_6) {
			width: 100%
		}






		& .header_nav__in {
			display: flex;
			align-self: center;
			justify-content: center;
			flex-direction: column;
			gap: 4rem;


		}

	}

}


.nav__burger {
	align-self: center;
	width: 3.6rem;
	height: 2.5rem;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 200;


	@include bp($point_2, min) {
		display: none;
	}

	@include bp($point_3) {
		display: block;
	}

}

.nav__burger span {
	display: block;
	position: absolute;
	height: 0.3rem;
	width: 100%;
	background: $color_text;
	border-radius: 1rem;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.nav__burger span:nth-child(1) {
	top: 0;
}

.nav__burger span:nth-child(2),
.nav__burger span:nth-child(3) {
	top: 0.8rem;
}

.nav__burger span:nth-child(4) {
	top: 1.6rem;
}

.nav__burger.open span:nth-child(1) {
	top: 0.8rem;
	width: 0%;
	left: 50%;
}

.nav__burger.open span:nth-child(2) {
	transform: rotate(45deg);
}

.nav__burger.open span:nth-child(3) {

	transform: rotate(-45deg);
}

.nav__burger.open span:nth-child(4) {
	top: 1.8rem;
	width: 0%;
	left: 50%;
}


/* body:has(.header_nav__menu.open) {
	overflow: hidden;
} */

.header_logo_w {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 201;



	@include bp($point_2, min) {
		padding: 0 9rem;
	}




}

.header_logo {
	display: block;

	transition: height $transition_dur ease-in-out;


	@include bp($point_2, min) {
		height: 7rem;
		width: 29rem;
	}


	@include bp($point_3) {
		height: 4.8rem;
		width: 20.3rem;
	}





	.header.header--scroll & {
		height: 4rem;
	}
}

.header_logo__img {
	@extend %contain_img;
}

.header_nav__in {
	
	width: calc((100% - 47rem) / 2);
	display: flex;
	column-gap: 4rem;
	justify-content: space-between;

	
	@include bp($point_3) {
		min-width: 20rem;
	}
	
	
	
}

.header_nav__item {
	position: relative;
	display: block;
}

.header_nav__link {
	position: relative;

	display: flex;
	align-items: center;
	

	font-size: 2.2rem;
	font-weight: 700;
	color: inherit;
	cursor: pointer;
	font-family: $font_2;
	text-decoration: none;
	transition: color $transition_dur ease-in-out;

	
	@include bp($point_2, min) {
		height: 100%;
	}
	
	
	@include bp($point_3) {
	height: auto;
	}
	

	&::before {
		position: absolute;
		top: calc(100% - 0.5rem);
		left: 50%;
		transform: translateX(-50%);

		content: '';

		width: 0;
		height: 0.5rem;

		background-color: $color_hover;

		transition: width $transition_dur ease-in-out;
	}

	&:hover,
	&:active,
	&:focus {
		&::before {
			width: 22rem;
		}
	}

	&:has(+ .header_dropdown) {
		padding-right: 1.8rem;

		&::after {
			position: absolute;
			top: 50%;
			right: 0;

			content: '';

			width: 1rem;
			height: 0.6rem;

			background-image: url(../imgs/svg/shevron_down.svg);

			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

// header bottom ###

.header_dropdown {
	

	display: none;

	width: 22rem;

	background-color: $color_white;
	box-shadow: 0px 4px 50px 0px #7796A326;

	
	@include bp($point_2, min) {
		position: absolute;
	}

	
	


	.header_nav__link:hover+&,
	&:hover {
		display: block;
	}

	
	@include bp($point_2, min) {
		&.header_dropdown--lev_1 {
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
	
		&.header_dropdown--lev_2 {
			top: 0;
			left: 100%;
		}
	}
	

	
}

.header_dropdown__item {
	position: relative;

	&:hover {
		.header_dropdown {
			display: block;
		}
	}
}

.header_dropdown__link {
	display: flex;
	padding: 1.2rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 9.4rem;
	font-size: 2rem;
	line-height: 1.25;
	color: $color_gray;
	transition: all $transition_dur ease-in-out;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $color_text_1;
		background-color: $color_text_2;
	}
}