.preparation__w {
	display: flex;
	// align-items: flex-end;
	// column-gap: 9rem;

	@include bp($point_4, min) {
		align-items: flex-end;
		column-gap: 9rem;
	}
	@include bp($point_5) {
		flex-direction: column;
	}
}

.preparation__text {
	flex: 1;

	@include bp($point_4, min) {
		max-width: 50%;
	}

	@include bp($point_5) {
		max-width: 100%;
	}

	// h2 {
	// 	font-size: 5rem;
	// 	margin-bottom: 7rem;
	// 	color: $color_text;
	// 	position: relative;
	// 	font-family: $font_2;
	// 	font-size: 50px;
	// 	font-weight: 700;
	// 	line-height: 1.26;

	// 	&::after {
	// 		content: '';
	// 		position: absolute;
	// 		bottom: -3.5rem;
	// 		left: 0;
	// 		width: 12rem;
	// 		height: 0.4rem;
	// 		background-color: #28bd25;
	// 	}
	// }

	p {
		font-size: 2rem;
		line-height: 1.5;
		color: $color_gray;

		span {
			font-style: italic;
			font-weight: 500;
			color: $color_black;
		}
	}
}

.section__descr {
	margin-top: 4rem;
}

.preparation__image {
	flex: 1;
	position: relative;

	img {
		@extend %cover_img;
	}

	@include bp($point_4, min) {
		width: 50%;
	}

	@include bp($point_5) {
		max-width: 100%;
		order: -1;
		margin-top: 2.6rem;
	}
}

.stats {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	@include bp($point_5) {
		flex-direction: column;
		row-gap: 11.6rem;
	}
}

.stat__item {
	text-align: center;
	color: $color_white;
	font-weight: 700;
	z-index: 1;

	img {
		margin-bottom: 4.8rem;
	}

	@include bp($point_4, min) {
		width: 25%;
	}

	@include bp($point_5) {
		width: 100%;
	}
}

.stat__item .number {
	font-size: 8rem;
	line-height: 6.3rem;
	margin-bottom: 1rem;
}

.stat__item .description {
	font-size: 2.6rem;
	line-height: 3rem;
	max-width: 26rem;
	width: 100%;
	margin: 0 auto;
}
