.section--price {
    padding-top: 0px;
    padding-bottom: 0px;
    background: url(../imgs/price/hero_price.png);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    height: 44.4rem;
}

.hero_price_w {
    width: 100%;
    height: 44.4rem;
    align-content: center;
}

.hero_title_price {
    font-weight: 700;
    font-family: $font_2;
    color: $color_white;
    text-align: center;

    @include bp($point_4, min) {
        font-size: 6rem;
        line-height: 6rem;
    }

    @include bp($point_5, max) {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
}

.title_price {
    margin-bottom: 7.6rem;
}

.table_price1_w {
    display: flex;
    flex-direction: column;
    @include bp($point_2, min) {
        row-gap: 9rem;
    }
    @include bp($point_3, max) {
        row-gap: 3rem;
    }
}

.table_old_sity,
.table_kerpich,
.table_lvov {
    max-width: 142rem;
    user-select: none;
}


.table_price_head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: $color_table_row;
    cursor: pointer;
    @include bp($point_2, min) {
        min-height: 18rem;
        padding: 0 5rem;
    }
    @include bp($point_3, max) {
        min-height: 10rem; 
        padding: 0 2rem;
    }
}

.price_name__head {
    font-family: $font_2;
    font-weight: 700;
    text-align: left;
    pointer-events: none;
    @include bp($point_2, min) {
        font-size: 2.6rem;
        line-height: 3.6rem;
    }
    @include bp($point_3, max) {
        font-size: 2rem;
        line-height: 2.6rem;
    }
}

.price_name__descr {
    font-family: $font_1;
    font-weight: 400;
    text-align: left;
    pointer-events: none;
    @include bp($point_2, min) {
        font-size: 2rem;
        line-height: 3rem;
    }
    @include bp($point_3, max) {
        font-size: 1.7rem;
        line-height: 2.3rem;
    }
}


.price_img_w {
    display: flex;
    justify-content: space-between;
    // column-gap: 10rem;
    width: 100%;
    @include bp($point_2, min) {
        max-width: 28rem;
    }
    @include bp($point_3, max) {
        max-width: 14rem;   
    }
}

.price_img__prew {
    width: 100%;
    pointer-events: none;

    .price_img {
        @extend %contain_img;
        pointer-events: none;
    }

    @include bp($point_2, min) {
        max-width: 15rem;
    }
    @include bp($point_3, max) {
        max-width: 9rem;
    }
}

.price_img__arrow {
    transition: transform 0.3s ease-in-out;

    &.closed {
        transform: rotate(180deg);
    }
}





.table_price_data {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-height: 0;
    overflow: hidden;
    display: none;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: auto;
        max-height: 500px;
        display: table;
    }
}


thead {
    font-family: $font_1;

    font-weight: 500;

    background-color: $color_table_head;
    color: $color_text_1;
    tr {
        @include bp($point_2, min) {
            height: 8.7rem;
            font-size: 2rem;
            line-height: 3rem;
        }
        @include bp($point_3, max) {
            height: 6rem;  
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }

    th:first-child {
        text-align: left;
        padding-left: 5rem;
    }
}

tbody {
    font-family: $font_1;

    tr {
        @include bp($point_2, min) {
            height: 8.7rem;
        }
        @include bp($point_3, max) {
            height: 5rem;  
        }
    }

    td {
        font-weight: 700;
        text-align: center;
        @include bp($point_2, min) {
            font-size: 2.4rem;
            line-height: 3rem;
        }
        @include bp($point_3, max) {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }

    & tr:nth-child(odd) {
        background-color: $color_table_row;
    }

    & tr:nth-child(even) {
        background-color: $color_table_row2;
    }
}

.color_t {
    margin-left: 3.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include bp($point_2, min) {
        column-gap: 4.6rem;
    }
    @include bp($point_3, max) {
        column-gap: 3.2rem;
    }
}

.color_img_w {

    @include bp($point_2, min) {
        max-width: 19.6rem;
    }
    @include bp($point_3, max) {
        max-width: 10rem;  
    }

    .color_img {
        @extend %contain_img;
    }
}

.color_name {
    font-weight: 400;
    color: $color_text_1;
    @include bp($point_2, min) {
        font-size: 2rem;
        line-height: 3rem;
    }
    @include bp($point_3, max) {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}