section.production {
	padding-top: 12rem;
	padding-bottom: 18.5rem;
}

.production__content {
	display: flex;
	gap: 7rem 18.7rem;
	width: 100%;

	@media screen and (max-width: 1440px) {
		flex-direction: column;
		align-items: center;
	}
}

.production__info {
	background-color: $color_white;
}

.production__description {
	@extend %st_text;
	@extend %text_gray;
	padding-left: 16.2rem;
	margin-top: 3.6rem;

	@include bp($point_3) {
		padding-left: 0;
	}

	@include bp($point_5) {
		font-size: 2rem;
	}

	@include bp($point_8) {
		font-size: 1.8rem;
	}
}

.production__image {
	position: relative;
	width: 46rem;
	height: 46rem;
	margin-top: 3rem;
	flex-shrink: 0;

	&::after {
		@include bottom_left_rect(
			29.2rem,
			38.3rem,
			-6rem,
			-6.2rem,
			url(../imgs/pseudo/dots-292x383.png) center center / cover
		);
	}

	@include bp($point_8) {
		&::after {
			@include bottom_left_rect(
				26.2rem,
				28.3rem,
				6rem,
				-6.2rem,
				url(../imgs/pseudo/dots-292x383.png) center center / cover
			);
		}
	}	

	&::before {
		@include square_dots_aft(9.2rem, 9.2rem, -4.6rem, -4.6rem, $color_accent, 'right');
	}

	img {
		@extend %cover_img;
		position: absolute;
		z-index: 1;
	}

	@include bp($point_5) {
		max-width: 100%;
		order: -1;

		img {
			width: 100%;
			height: auto;
		}
	}
}
