.services__in {
	display: flex;
	flex-direction: column;
	row-gap: 4.4rem;
}
.services__row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&.services__row.services__row--two {
		column-gap: 5rem;
	}
}
.services__title_w {
	span {
		position: relative;
		display: block;
		width: 12rem;
		&::before {
			position: absolute;
			content: '';
			background-color: $color_accent;
			max-width: 12rem;
			width: 100%;
			height: 0.4rem;
			transform: translate(-50%, -50%);
			left: 138%;
		}
	}
}
.services__title {
	font-family: $font_2;
	font-size: 5rem;
	font-weight: 700;
	line-height: 6.4rem;
	color: $color_text;
	margin-bottom: 2.4rem;
}
.services__row_coll {
	width: calc(100% - 5rem / 3);
	&.services__row_coll.services__row_coll--two {
		background-color: $bg_gray;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 7rem;
			width: 7rem;
			background: url('../imgs/product/circle.svg') 0 0 / 1rem 1rem space;
			z-index: -1;
			left: -3rem;
            top: -3.3rem;
			
		}
	}
  
}
.services__coll_title {
	font-size: 5.4rem;
	font-weight: 700;
	line-height: 6rem;
	color: $color_black;
	border-left: 0.4rem solid $color_accent;
	padding-left: 6.4rem;
}
.services_slider {
	width: 44rem;
	position: relative;
	right: 4.4rem;
}
.slider_w {
	width: 100%;
}
.slider__item {
	width: 100%;
}
.slider__img_w {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
}
.slider__img {
	@extend %contain_img;
}
.slider_pagination {
	margin-left: 4.4rem;
	span {
		background-color: $color_accent;
		width: 1.4rem;
		height: 1.4rem;
	}
}
.services__info {
	display: flex;
	flex-direction: column;
	row-gap: 3.6rem;
}
.services__info_title {
	font-size: 3rem;
	font-weight: 700;
	line-height: 2.6rem;
	color: #333333;
}
.services__info_descr {
	font-size: 2rem;
	line-height: 3rem;
	color: $color_gray;
	min-width: 46rem;
}
.services__info_btn {
	@extend%btn_services;
	transition: all 0.5s ease-in-out;
	&::after {
		content: '';
		width: 1.8rem;
		height: 1.6rem;
		background-image: url(../imgs/services/arrow.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-left: 1.4rem;
	}
	&:hover {
		box-shadow: 1px 1px 24px 5px rgba(40, 189, 37, 0.91);
	}
}
