@include bp($point_4, min) {
	.top_sales__title_in {
		margin-bottom: 7rem;
	}
}

@include bp($point_5) {
	.top_sales__title_in {
		margin-bottom: 7rem;
	}
}

/*.title {
	font-family: $font_2;
	font-size: 5rem;
	font-weight: 700;
	line-height: 6.3rem;
	color: $color_black;

	@include bp($point_5) {
		font-size: 2.8rem;
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		background: $color_accent no-repeat;
		height: 0.4rem;
	}

	@include bp($point_4, min) {
		&::before {
			width: 12rem;
			left: -16.3rem;
		}
	}

	@include bp($point_5) {
		&::before {
			width: 8.6rem;
			left: -11.1rem;
		}
	}
}*/

.top_sales__product_wrapper {
	display: flex;
	margin-right: -2rem;
}

.top_sales__product_wrapper_decor {
	display: inline-flex;
	flex-wrap: wrap;

	position: relative;
	width: 100%;
	row-gap: 2rem;
}

.decor {
	@include bp($point_4, min) {
		&::before {
			@include square_dots_bef(7.1rem, 7.1rem, -3.4rem, -3.4rem);
		}

		&::after {
			@include square_dots_aft(7.1rem, 7.1rem, -3.1rem, -3.1rem);
		}
	}
}

.product_card__wrapper {
	flex: 1 1 25%;
	display: flex;
	width: 34rem;
	padding-right: 2rem;
	justify-content: center;
}

.product_card {
	flex: 1 1 100%;
	padding-right: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	background-color: $color_white;
	padding: 3.4rem 3.5rem 3.6rem 3.5rem;
	border: 0.1rem solid $bg_gray;
	box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
	border-radius: 0.1rem;
	text-align: center;
	position: relative;
	transition: all $transition_dur ease-in-out;

	&:hover {
		box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.25);
	}
}

.product_card__img_wrapper {
	position: relative;
	width: 100%;
	height: 25.3rem;
	margin-bottom: 1.8rem;

	& .imgs {
		@extend %cover_img;
	}
}

.product_card__title {
	font-family: $font_2;
	flex-grow: 1;
	font-weight: 700;
	font-size: 2.6rem;
	line-height: 2.6rem;
	margin-bottom: 1.6rem;
	color: $color_text;
}

.product_card__high,
.product_card__color_title {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	color: #555555;
}

.product_card__high {
	margin-bottom: 1.2rem;
}

.product_card__color_title {
	display: flex;
	justify-content: center;
	margin-bottom: 1.8rem;
}

.product_card__color_wrapper {
	margin-bottom: 2.4rem;
}

.product_card__price {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 2.6rem;
	margin-bottom: 3.2rem;

	& span {
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 2.3rem;
		color: rgba(51, 51, 51, 1);
	}
}

.product_card__btn {
	@extend %transp_btn;
	@extend %btn_size;
	align-self: center;
}

.product_card__inner {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2.2rem;
}

.product_card__availabel_color {
	cursor: pointer;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: #a4a4a4;
}

.product_card__availabel_color--red {
	background: #ff4141;
}
.product_card__availabel_color--brown {
	background: #8e5500;
}
.product_card__availabel_color--green {
	background: #4e760c;
}
.product_card__availabel_color--aqua {
	background: #f0c78a;
}
.product_card__availabel_color--black {
	background: #111111;
}
