.transport_form {
	background-image: url(../imgs/transport_form/man_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 6rem 0;

}

.transport_form__coll {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
}
.transport_form__title {
	font-size: 2.4rem;
	line-height: 3.4rem;
	color: $color_text_1;
}
.transport_form__form {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
	width: 60rem;
}
.transport_form__subtitle {
	font-size: 2.8rem;
	line-height: 2.6rem;
	color: $color_gray;
	span {
		color: $color_accent;
	}
}
.transport_form__input {
	width: 100%;
	height: 7.6rem;
	border: 1px solid $color_gray_border;
	font-size: 2.8rem;
	line-height: 7.6rem;
	color: $color_text;
	padding-left: 7rem;
	&.transport_form__input.transport_form__input--man {
		background: url(../imgs/transport_form/input_man.svg) no-repeat left 2.2rem center / 2.5rem 2.5rem;
	}
	&.transport_form__input.transport_form__input--phone {
		background: url(../imgs/transport_form/input_phone.svg) no-repeat left 2.2rem center / 2.5rem 2.5rem;
	}
}
input::placeholder {
	color: $color_text_2;
	font-style: italic;
}

