<div class="top_sales__product_card product_card">
    <div class="product_card__img_wrapper">
        <img @@img  alt="" />
    </div>
    <h3 class="product_card__title"><!-- Старе місто -->@@card_title</h3>
    <div class="product_card__high">Висота: <!-- 40 -->@@high мм</div>
    <figure class="product_card__color_wrapper">
        <figcaption class="product_card__color_title">Колір:</figcaption>
        <ul class="product_card__inner">
            @@for (var i = 0; i < arr.length; i++) {
                <li class="product_card__availabel_color `+arr[i]+`"></li>
            }
        </ul>
    </figure>
    <p class="product_card__price"><!-- 240 -->@@price грн <span>за m2</span></p>
    <a class="product_card__btn" href="#">Детальніше</a>
</div>