html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	font-family: $font_1;
	font-weight: 400;
	line-height: 1.3;
	scroll-behavior: smooth;
}

body {
	background-color: $bg_gray;
}

.wrapper {
	padding-top: $header_height;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
	background-color: $color_white;
}

.section {
	width: 100%;

	padding: 12rem 0;

	&.section--offset {
		padding: 0;
	}
	&.section--bg {
		background-color: $bg_gray;
	}
	&.section--stats {
		position: relative;
		background-image: url('../../imgs/stat_bg.jpg');
		background-size: cover;
		background-attachment: fixed;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
			pointer-events: none;
		}
	}
}

.container {
	padding: 0 3rem;
	max-width: 148rem;
	width: 100%;
	margin: 0 auto;

	@include bp($point_5) {
		padding: 0 2rem;
	}

	&.container--wide {
		max-width: 100%;

		@include bp($point_2, min) {
			padding: 0 10rem;
		}

		@include bp($point_3) {
			padding: 0 4rem;
		}

		@include bp($point_5) {
			padding: 0rem;
		}
	}

	&.container--narrow {
		max-width: 124rem;
	}
}

//section__title
.section__title {
	position: relative;
	display: block;

	font-family: $font_2;
	font-weight: 700;
	color: $color_text;
	text-align: left;

	&.section__title--adaptive {
		@include bp($point_4, min) {
			padding-left: 16.2rem;

			@include bp($point_5) {
				padding-left: 12.2rem;
			}
		}

		@include bp($point_5) {
			text-align: center;
		}
	}

	&.section__title--left {
		padding-left: 16.2rem;

		@include bp($point_5) {
			padding-left: 12.2rem;
		}
	}
	&.section__title--centr {
		text-align: center;
	}
	&.section__title--white {
		color: $color_white;
	}

	//section__decor
	&.section__title--decor_left {
		&::before {
			position: absolute;
			content: '';
			width: 12rem;
			height: 0.4rem;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: $color_accent;

			@include bp($point_5) {
				width: 8rem;
			}
		}
	}

	&.section__title--decor_bottom {
		&::before {
			position: absolute;
			content: '';
			width: 12rem;
			height: 0.4rem;
			transform: translate(-50%, -50%);
			left: 50%;
			bottom: -2rem;
			background-color: $color_accent;

			@include bp($point_5) {
				width: 8rem;
			}
		}
	}

	&.section__title--decor_bottom_left {
		&::before {
			position: absolute;
			content: '';
			width: 12rem;
			height: 0.4rem;
			left: 0;
			bottom: -2rem;
			background-color: $color_accent;

			@include bp($point_5) {
				width: 8rem;
				left: auto;
			}
		}
	}

	&.section__title--decor_adaptive {
		@include bp($point_4, min) {
			&::before {
				position: absolute;
				content: '';
				width: 12rem;
				height: 0.4rem;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-color: $color_accent;
	
				@include bp($point_5) {
					width: 8rem;
				}
			}
		}

		@include bp($point_5) {
			&::before {
				position: absolute;
				content: '';
				width: 12rem;
				height: 0.4rem;
				transform: translate(-50%, -50%);
				left: 50%;
				bottom: -2rem;
				background-color: $color_accent;

				@include bp($point_5) {
					width: 8rem;
				}
			}
		}
	}

	@include bp($point_4, min) {
		font-size: 5rem;
		line-height: 6.3rem;
	}

	@include bp($point_5) {
		font-size: 2.6rem;
		line-height: 3.2rem;
		display: flex;
		justify-content: center
	}
}

//button
.btn_green {
	@extend %btn_green;
	@extend %btn_size;
	position: relative;

	&.btn_green--arrow {
		padding: 0 9rem 0 7rem;

		&:hover::after {
			filter: invert(100%);
		}

		&::after {
			position: absolute;
			content: '';
			background: url('../imgs/mod_arrow.svg') center/100% no-repeat;
			top: 3.4rem;
			right: 6rem;
			width: 1.8rem;
			height: 1.5rem;
			transition: all $transition_dur ease-in-out;
		}
	}
}

.btn_transp {
	@extend %btn_transp;
	@extend %btn_size;
}
