html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	font-family: $font_1;
	font-weight: 400;
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;

}

.section {
	width: 100%;

	padding: 12rem 0;

	&.section--offset {
		padding: 0;
	}
	&.section--bg {
		background-color: $bg_gray;
	}
}

.container {
	padding: 0 3rem;
	max-width: 148rem;
	width: 100%;
	margin: 0 auto;

	&.container--wide {
		max-width: 100%;
	}
	&.container--news {
		max-width: 134rem;
	}
}

.footer {
	padding: 30px 0;
	display: flex;
	align-items: center;
	min-height: 80px;
	background-color: #ccc;
}